<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('book.ico') }}">
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- animate css -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="{{ asset('css/pe-icon-7-stroke.min.css') }}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <!-- Image Zoom CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/img-zoom/jquery.simpleLens.css') }}">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<!-- header section start -->
<header>
    <div class="header-bottom header-bottom-one" id="sticky-menu">
        <div class="container relative">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-xs-4">
                    <div class="logo">
                        <a href="{{ path('book_index') }}"><img src="{{ asset('img/logo_book.png') }}" alt="" style="width: 75%"/></a>
                    </div>
                </div>
                <div class="col-sm-10 col-md-10 col-xs-8 static">
                    <div class="all-manu-area">
                        <div class="right-header re-right-header">
                            <input type="hidden" value="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}" name="baseURL">
                            <ul>
                                <li>
                                    <a>{{ 'list_books_api'|trans }}</a>
                                    <ul class="drop-cart">
                                        <li>
                                            <input type="text" value="" name="api_key_view" placeholder="{{ 'api_key'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="api_page_view" placeholder="{{ 'view_books_page_api'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="api_limit_view" placeholder="{{ 'view_books_limit_api'|trans }}">
                                        </li>
                                        <li class="checkout-btn text-center api_list">
                                            <a>{{ 'list_books'|trans }}</a>
                                        </li>
                                        <li class="checkout-btn text-center result hidden" data-toggle="modal" data-target="#myModal">
                                            <a>{{ 'result'|trans }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <script>
                                   /* $(document).on("click", ".result", function() {
                                        var url = $("input[name='baseURL']").val();
                                        var apiKey = $("input[name='api_key_view']").val();
                                        var pageView = $("input[name='api_page_view']").val();
                                        var limitView = $("input[name='api_limit_view']").val();
                                        $.ajax( {
                                            url: url+"/api/v1/books/?apiKey="+apiKey,
                                            dataType : "json",
                                            type: "GET",
                                            success: function (data) {
                                                if (data.success) {
                                                    //alert(JSON.stringify(data.message));
                                                    alertObj(data.message);
                                                } else {
                                                    alertObj(data);
                                                }
                                            }
                                        });
                                    });*/
                                    $(document).on("click", ".api_list", function() {
                                        var url = $("input[name='baseURL']").val();
                                        var apiKey = $("input[name='api_key_view']").val();
                                        var pageView = $("input[name='api_page_view']").val();
                                        var limitView = $("input[name='api_limit_view']").val();
                                        $.ajax( {
                                            url: url+"/api/v1/books/?apiKey="+apiKey+"&page="+pageView+"&limit="+limitView,
                                            dataType : "json",
                                            type: "GET",
                                            success: function (data) {
                                                if (data.success) {
                                                    //alert(JSON.stringify(data.message));
                                                    alertObj(data.message);
                                                } else {
                                                    alertObj(data);
                                                }
                                            }
                                        });
                                    });
                                    function alertObj(obj) {
                                        var resultError = "";
                                        var resultObj = "";
                                        var strProperty = "";
                                        if (typeof(obj) == "object") {
                                            for (k in obj) {
                                                resultError += k + ": " + obj[k] + "\r\n";
                                            }
                                        } else {
                                            obj = $.parseJSON(obj);
                                                for (k in obj) {
                                                    strProperty = "";
                                                    $.each(obj[k], function (i, val) {
                                                        strProperty += '<b>' + i + '</b>: ' + val + ' ';
                                                    });
                                                    resultObj += '<p><h6>' + k + '</h6>' + strProperty + '</p></br>';
                                                }
                                        }
                                        if(resultError != ""){
                                            $(".result").addClass("hidden").removeClass("visible");
                                            //$(".result_list").css("visibility","hidden");
                                            alert(resultError);
                                        } else {
                                            $(".result_list p").html(resultObj);
                                            //$(".result_list").css("visibility","visibility");
                                            $(".result").addClass("visible").removeClass("hidden");
                                        }
                                    }
                                </script>
                                <li>
                                    <a>
                                       {{ 'add_books_api'|trans }}
                                    </a>
                                    <ul class="drop-cart">
                                        <li>
                                            <input type="text" value="" name="api_key_add" placeholder="{{ 'api_key'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="api_email_add" placeholder="{{ 'api_email_add'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="name_book_add" placeholder="{{ 'enter_name_book'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="author_book_add" placeholder="{{ 'enter_author_book'|trans }}">
                                        </li>
                                        <li>
                                            {{ 'dateRead_book'|trans }}
                                            <input type="text" value="" name="dateRead_book_add" placeholder="{{ 'format_date'|trans }}">
                                        </li>
                                        <li><label for="coding">{{ 'allow_download'|trans }}</label>
                                            <input type="checkbox" value="1" name="allowDownload_book_add" checked>
                                        </li>
                                        <li class="checkout-btn text-center add_books_api">
                                            <a>{{ 'add_book'|trans }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <script>
                                   $(document).on("click", ".add_books_api", function() {
                                        $.ajax({
                                            url: $("input[name='baseURL']").val()+"/api/v1/books/add/",
                                            dataType : "json",
                                            type: "POST",
                                            data:  {
                                                    apiKey: $("input[name='api_key_add']").val(),
                                                    email: $("input[name='api_email_add']").val(),
                                                    name: $("input[name='name_book_add']").val(),
                                                    author: $("input[name='author_book_add']").val(),
                                                    dateRead: $("input[name='dateRead_book_add']").val(),
                                                    allowDownload: $("input[name='allowDownload_book_add']").prop('checked')
                                                },
                                            success: function (data) {
                                                alertObj(data);
                                            }
                                        });
                                    });
                                </script>
                                <li>
                                    <a>
                                        {{ 'edit_books_api'|trans }}
                                    </a>
                                    <ul class="drop-cart">
                                        <li>
                                            <input type="text" value="" name="api_key_edit" placeholder="{{ 'api_key'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="api_id_edit" placeholder="{{ 'id_book'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="name_book_edit" placeholder="{{ 'name_book'|trans }}">
                                        </li>
                                        <li>
                                            <input type="text" value="" name="author_book_edit" placeholder="{{ 'author_book'|trans }}">
                                        </li>
                                        <li>
                                            {{ 'dateRead_book'|trans }}
                                            <input type="text" value="" name="dateRead_book_edit" placeholder="{{ 'format_date'|trans }}">
                                        </li>
                                        <li><label for="coding">{{ 'allow_download'|trans }}</label>
                                            <input type="checkbox" value="1" name="allowDownload_book_edit" checked>
                                        </li>
                                        <li class="checkout-btn text-center edit_books_api">
                                            <a>{{ 'edit_book'|trans }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <script>
                                    $(document).on("click", ".edit_books_api", function() {
                                        $.ajax({
                                            url: $("input[name='baseURL']").val() +
                                                "/api/v1/books/" +
                                                $("input[name='api_id_edit']").val() +
                                                "/edit",
                                            dataType : "json",
                                            type: "POST",
                                            data: {
                                                    apiKey: $("input[name='api_key_edit']").val(),
                                                    name: $("input[name='name_book_edit']").val(),
                                                    author: $("input[name='author_book_edit']").val(),
                                                    dateRead: $("input[name='dateRead_book_edit']").val(),
                                                    allowDownload: $("input[name='allowDownload_book_edit']").prop('checked')
                                                },
                                            statusCode: {
                                                404: function() {
                                                    alert("Oops! An Error Occurred\n" +
                                                        "The server returned a \"404 Not Found\".");
                                                },
                                                500: function() {
                                                    alert("Oops! An Error Occurred\n" +
                                                        "The server returned a \"500 Internal Server Error\".");
                                                },

                                            },
                                            success: function (data) {
                                                alertObj(data);
                                            }
                                        });
                                    });
                                </script>
                            </ul>
                        </div>

                        <div class="mainmenu clearfix hidden-sm hidden-xs">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="result"></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('book_index') }}">{{ 'list_books'|trans }}</a>
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li>
                                            <a href="{{ path('book_new') }}">{{ 'add_book'|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-menu-area hidden-lg hidden-md">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                            <a href="{{ path('book_index') }}">{{ 'list_books'|trans }}</a>
                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li>
                                                <a href="{{ path('book_new') }}">{{ 'add_book'|trans }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- mobile menu end -->
                        <div class="right-header re-right-header">
                            <ul>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}">
                                            <i class="fa fa-user"></i>
                                            {{ app.user.username }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out"></i>
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">
                                            <i class="fa fa-sign-in"></i>
                                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            <i class="fa fa-lock"></i>
                                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section end -->
<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="result_list">
                        <p></p>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

<!-- footer section start -->
<footer class="re-footer-section">
    <!-- footer-bottom area start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 text-left">

                        <svg class = 'header__logo' width="97px" height="52px" viewBox="0 0 97 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Layouts1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop" transform="translate(-73.000000, -60.000000)">
                                    <g id="header" transform="translate(73.000000, 60.000000)">
                                        <g id="logo">
                                            <g>
                                                <path class="header__logo-part1" d="M33.6505652,34.7022703 L33.6505652,24.3374054 C33.6505652,23.8427027 33.5746522,23.4393514 33.4256377,23.1287568 C33.2752174,22.8181622 33.0854348,22.5778378 32.8605072,22.404973 C32.6355797,22.2335135 32.4022174,22.1154595 32.1547971,22.0508108 C31.9073768,21.9861622 31.6965072,21.9538378 31.5264058,21.9538378 C31.3534928,21.9538378 31.144029,21.9861622 30.8994203,22.0508108 C30.6505942,22.1154595 30.4172319,22.2335135 30.1908986,22.404973 C29.9631594,22.5778378 29.7761884,22.8181622 29.6257681,23.1287568 C29.4781594,23.4393514 29.4008406,23.8427027 29.4008406,24.3374054 L29.4008406,34.7022703 L24.1206667,34.7022703 L24.1206667,17.3820541 L29.2715072,17.3820541 L29.2715072,18.8001081 C29.8071159,18.2618378 30.4411304,17.8612973 31.1721449,17.5928649 C31.9017536,17.323027 32.6102754,17.1909189 33.2963043,17.1909189 C34.1116667,17.1909189 34.8454928,17.3174054 35.502,17.576 C36.1585072,17.8345946 36.7208261,18.1985946 37.1931739,18.6708108 C37.9452754,19.4198919 38.4204348,20.2041081 38.6256812,21.0206486 C38.8295217,21.8357838 38.9335507,22.7043243 38.9335507,23.6276757 L38.9335507,34.7022703 L33.6505652,34.7022703 L33.6505652,34.7022703 Z M50.1194783,22.1154595 C50.5398116,24.8503784 50.4934203,27.5979459 50.0295072,30.2583784 L48.4283043,30.2583784 C47.7197826,30.2583784 47.3655217,29.9056216 47.3655217,29.1972973 L47.3655217,22.1154595 L50.1194783,22.1154595 L50.1194783,22.1154595 Z M47.3655217,13.9486486 C47.7057246,14.5782703 48.0248406,15.2261622 48.3158406,15.8937297 C48.6293333,16.6090811 48.9006522,17.3314595 49.1424493,18.0594595 L47.3655217,18.0594595 L47.3655217,13.9486486 L47.3655217,13.9486486 Z M15.1305942,2.85437838 C26.8943043,-2.26691892 40.5038261,2.33718919 46.8875507,13.1011892 L42.0853478,13.1011892 L42.0853478,18.0594595 L39.0319565,18.0594595 C40.3857391,19.1739459 40.7877971,20.7634595 40.8777681,22.1154595 L42.0853478,22.1154595 L42.0853478,29.5823784 C42.0853478,30.1838919 42.187971,30.784 42.3904058,31.3855135 C42.597058,31.987027 42.9119565,32.5337297 43.3407246,33.027027 C43.7694928,33.5217297 44.3233768,33.9222703 44.9995652,34.2342703 C45.6743478,34.5448649 46.4981449,34.7022703 47.4625217,34.7022703 L48.8261449,34.7022703 C46.5290725,40.9141622 41.8055942,46.2223784 35.2742609,49.0669189 C31.0175072,50.9234595 26.5147391,51.4982703 22.198942,50.9712432 L36.1500725,43.7657297 L18.2922319,50.18 C16.7866232,49.7499459 15.326,49.1779459 13.9258261,48.4780541 C18.7856667,45.9665946 23.6483188,43.4565405 28.5081594,40.9464865 C22.8245217,42.9871351 17.1408841,45.0277838 11.4572464,47.0684324 C10.5055217,46.4500541 9.59034783,45.7698378 8.72297101,45.0207568 C13.0668841,42.7777297 17.4107971,40.5347027 21.7547101,38.2888649 C16.8836232,40.04 12.0125362,41.7883243 7.14426087,43.5380541 C6.29797101,42.6751351 5.51353623,41.7447568 4.79376812,40.7525405 C8.0524058,39.0688649 11.3152609,37.3851892 14.5738986,35.7001081 C11.0326957,36.972 7.49289855,38.2424865 3.95028986,39.5143784 C3.2502029,38.4195676 2.62743478,37.2572973 2.09182609,36.0303784 C2.0862029,36.0163243 2.08057971,36.0022703 2.07495652,35.991027 L13.7641594,29.9534054 L1.44094203,34.379027 C1.04028986,33.2462703 0.725391304,32.1008649 0.493434783,30.9498378 C5.04118841,28.6 9.58753623,26.2501622 14.1381014,23.9003243 C9.48069565,25.5713514 4.82469565,27.2465946 0.170101449,28.9176216 C0.0323333333,27.7398919 -0.0224927536,26.5635676 0.00843478261,25.3928649 C4.77408696,22.932 9.53833333,20.4683243 14.3053913,18.0046486 C9.59597101,19.6981622 4.88514493,21.3930811 0.172913043,23.0851892 C0.343014493,21.6095135 0.648072464,20.1563243 1.07402899,18.7396757 C5.43902899,16.484 9.80262319,14.2269189 14.1676232,11.9740541 C10.0823768,13.4398919 5.99713043,14.9099459 1.90766667,16.3785946 C2.55855072,14.7989189 3.36828986,13.2824865 4.32985507,11.8588108 L20.2926812,3.6132973 L7.21876812,8.30875676 C9.42024638,6.0587027 12.0757971,4.1867027 15.1305942,2.85437838 L15.1305942,2.85437838 Z M18.7687971,10.2411892 C20.3067391,10.2411892 21.5621159,11.4962162 21.5621159,13.0337297 C21.5621159,14.5698378 20.3067391,15.8234595 18.7687971,15.8234595 C17.2322609,15.8234595 15.9768841,14.5698378 15.9768841,13.0337297 C15.9768841,11.4962162 17.2322609,10.2411892 18.7687971,10.2411892 L18.7687971,10.2411892 Z M16.1413623,34.7022703 L21.4215362,34.7022703 L21.4215362,17.4705946 L16.1413623,17.4705946 L16.1413623,34.7022703 Z" id="Fill-111" fill="#C43E41"></path>
                                                <path class="header__logo-part2" d="M61.483942,27.7483243 L58.8129275,27.7483243 C58.297,27.7483243 57.887913,27.8776216 57.5856667,28.1348108 C57.2890435,28.3905946 57.1344058,28.7250811 57.1344058,29.1326486 C57.1344058,29.5191351 57.2806087,29.8564324 57.5716087,30.1473514 C57.8597971,30.4354595 58.297,30.5816216 58.8761884,30.5816216 C59.3893043,30.5816216 59.7927681,30.5436757 60.0837681,30.4677838 C60.3719565,30.3918919 60.6685797,30.2162162 60.9680145,29.9365405 C61.311029,29.6147027 61.483942,29.0356757 61.483942,28.1994595 L61.483942,27.7483243 L61.483942,27.7483243 Z M91.2882464,26.0407568 C91.2882464,25.1834595 91.2474783,24.4554595 91.1603188,23.8539459 C91.0745652,23.2524324 90.8608841,22.7802162 90.5164638,22.4372973 C90.1931304,22.1154595 89.7235942,21.9538378 89.1008261,21.9538378 C88.4766522,21.9538378 88.0043043,22.1154595 87.6837826,22.4372973 C87.3407681,22.7802162 87.1242754,23.2524324 87.0385217,23.8539459 C86.9527681,24.4554595 86.9091884,25.1834595 86.9091884,26.0407568 C86.9091884,26.9008649 86.9527681,27.6302703 87.0385217,28.2317838 C87.1242754,28.8318919 87.3407681,29.3041081 87.6837826,29.6484324 C88.0043043,29.9688649 88.4766522,30.1304865 89.1008261,30.1304865 C89.7235942,30.1304865 90.1931304,29.9688649 90.5164638,29.6484324 C90.8608841,29.3041081 91.0745652,28.8318919 91.1603188,28.2317838 C91.2474783,27.6302703 91.2882464,26.9008649 91.2882464,26.0407568 L91.2882464,26.0407568 Z M96.5712319,26.0407568 C96.5712319,26.9008649 96.5388986,27.6513514 96.4728261,28.295027 C96.4095652,28.9387027 96.3083478,29.5191351 96.1677681,30.0321081 C96.0285942,30.5478919 95.836,31.0201081 95.5857681,31.4501622 C95.3411594,31.8802162 95.0361014,32.2863784 94.6691884,32.6728649 C94.1546667,33.2308108 93.4475507,33.740973 92.5464348,34.2019459 C91.6425072,34.6629189 90.4953768,34.8934054 89.1008261,34.8934054 C87.7062754,34.8934054 86.5549275,34.6629189 85.6552174,34.2019459 C84.7541014,33.740973 84.0427681,33.2308108 83.5296522,32.6728649 C83.1641449,32.2863784 82.859087,31.8802162 82.6102609,31.4501622 C82.3656522,31.0201081 82.1702464,30.5478919 82.0296667,30.0321081 C81.8904928,29.5191351 81.7906812,28.9387027 81.7260145,28.295027 C81.6627536,27.6513514 81.6290145,26.9008649 81.6290145,26.0407568 C81.6290145,25.2059459 81.6627536,24.4596757 81.7260145,23.8047568 C81.7906812,23.1512432 81.8904928,22.5665946 82.0296667,22.0508108 C82.1702464,21.535027 82.3656522,21.0642162 82.6102609,20.6341622 C82.859087,20.2041081 83.1641449,19.7965405 83.5296522,19.4100541 C83.7841014,19.1331892 84.091971,18.8633514 84.4462319,18.6061622 C84.8004928,18.348973 85.2039565,18.1128649 85.6552174,17.8964324 C86.1050725,17.6828108 86.6153768,17.5127568 87.1833188,17.3820541 C87.7526667,17.2541622 88.3923043,17.1909189 89.1008261,17.1909189 C89.8093478,17.1909189 90.4461739,17.2541622 91.0169275,17.3820541 C91.582058,17.5127568 92.0965797,17.6828108 92.5464348,17.8964324 C92.9962899,18.1128649 93.396942,18.348973 93.7540145,18.6061622 C94.1054638,18.8633514 94.4133333,19.1331892 94.6691884,19.4100541 C95.0361014,19.7965405 95.3411594,20.2041081 95.5857681,20.6341622 C95.836,21.0642162 96.0285942,21.535027 96.1677681,22.0508108 C96.3083478,22.5665946 96.4095652,23.1512432 96.4728261,23.8047568 C96.5388986,24.4596757 96.5712319,25.2059459 96.5712319,26.0407568 L96.5712319,26.0407568 Z M79.8858261,22.8968649 C78.2846232,21.4380541 74.7265507,21.6305946 74.7265507,24.3374054 L74.7265507,34.7022703 L69.4463768,34.7022703 L69.4463768,17.3820541 L74.5972174,17.3820541 L74.5972174,18.8001081 C76.5245652,17.0812973 79.6876087,16.6610811 81.8736232,18.1072432 L81.7934928,18.2042162 L81.6233913,18.4220541 L81.4673478,18.6398919 L81.3197391,18.8549189 L81.1763478,19.0797838 L81.0301449,19.3187027 L80.8965942,19.5646486 L80.7756957,19.8021622 L80.6604203,20.0537297 L80.5479565,20.3123243 L80.4481449,20.5709189 L80.3581739,20.8210811 L80.2724203,21.0867027 L80.1965072,21.3523243 L80.1276232,21.6221622 L80.0643623,21.884973 L80.0095362,22.1548108 L79.9603333,22.4260541 L79.9153478,22.6987027 L79.8858261,22.8968649 L79.8858261,22.8968649 Z M61.6132754,34.7022703 L61.6132754,33.2856216 C61.0748551,33.8210811 60.528,34.2188108 59.9684928,34.4745946 C59.4117971,34.7331892 58.6723478,34.8624865 57.7473333,34.8624865 C56.8687101,34.8624865 56.080058,34.728973 55.379971,34.4605405 C54.6826957,34.1907027 54.0880435,33.8098378 53.5932029,33.3179459 C53.1011739,32.8246486 52.7258261,32.2273514 52.4671594,31.5316757 C52.2084928,30.8331892 52.0805652,30.0770811 52.0805652,29.2605405 C52.0805652,28.6182703 52.193029,27.9886486 52.4179565,27.3787027 C52.6428841,26.7659459 52.9999565,26.2304865 53.4835507,25.7681081 C53.9643333,25.3071351 54.5758551,24.9361081 55.3167101,24.6578378 C56.058971,24.3781622 56.9432174,24.2404324 57.9750725,24.2404324 L61.483942,24.2404324 L61.483942,23.7878919 C61.483942,22.9938378 61.2786957,22.4372973 60.8724203,22.1154595 C60.4661449,21.7922162 59.7983913,21.6334054 58.8761884,21.6334054 C58.1887536,21.6334054 57.6615797,21.7177297 57.2974783,21.8891892 C56.9347826,22.0606486 56.536942,22.3614054 56.1053623,22.7914595 L52.8214203,19.507027 C53.2712754,19.0558919 53.7141014,18.6862703 54.1414638,18.3967568 C54.5702319,18.1072432 55.0397681,17.8711351 55.5430435,17.6884324 C56.0477246,17.5071351 56.5889565,17.3778378 57.1681449,17.3019459 C57.7473333,17.2274595 58.4038406,17.1909189 59.1334493,17.1909189 C61.6217101,17.1909189 63.5153188,17.7052973 64.8142754,18.7354595 C66.1160435,19.7656216 66.7641159,21.3424865 66.7641159,23.4660541 L66.7641159,34.7022703 L61.6132754,34.7022703 L61.6132754,34.7022703 Z" id="Fill44" fill="#2F2E3A"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                </div>
                <div class="col-xs-6 text-center">
                    <a href="https://intaro.ru/{{ app.request.getLocale() }}/" target="_blank">
                        &copy; {{ 'intaro'|trans }}. 2018
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area end -->
</footer>
<!-- footer section end -->

    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="{{ asset('js/vendor/jquery-1.12.0.min.js') }}"></script>
    <!-- bootstrap js -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- parallax js -->
    <script src="{{ asset('js/parallax.min.js') }}"></script>
    <!-- owl.carousel js -->
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <!-- Img Zoom js -->
    <script src="{{ asset('js/img-zoom/jquery.simpleLens.min.js') }}"></script>
    <!-- meanmenu js -->
    <script src="{{ asset('js/jquery.meanmenu.js') }}"></script>
    <!-- jquery.countdown js -->
    <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
    <!-- Nivo slider js
    ============================================ -->
    <script src="{{ asset('lib/js/jquery.nivo.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('lib/home.js') }}" type="text/javascript"></script>
    <!-- jquery-ui js -->
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <!-- sticky js -->
    <script src="{{ asset('js/sticky.js') }}"></script>
    <!-- plugins js -->
    <script src="{{ asset('js/plugins.js') }}"></script>
    <!-- main js -->
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
