{% extends 'base.html.twig' %}

{% block body %}
    <section class="pages products-page section-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="features-tab">
                        <!-- Nav tabs -->
                        <div class="shop-all-tab">
                            <div class="re-shop">
                                <div class="sort-by">
                                    <div class="shop6">
                                        <label>Sort By :</label>
                                        <select>
                                            <option value="">Default sorting</option>
                                            <option value="">Sort by popularity</option>
                                            <option value="">Sort by average rating</option>
                                            <option value="">Sort by newness</option>
                                            <option value="">Sort by price: low to high</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="shop5">
                                    <label>Show :</label>
                                    <select>
                                        <option value="">12</option>
                                        <option value="">24</option>
                                        <option value="">36</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="row">
                                {% for book in books %}
                                  {#  <tr>
                                        <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.author }}</td>
                                        #}{#<td>{{ book.cover }}</td>#}{#
                                        {% if book.cover %}
                                            <td><img src="{{ asset('uploads/cover/' ~book.cover) }}"  alt="" /></td>
                                        {% endif %}
                                        <td>{{ book.bookFile }}</td>
                                        <td>{% if book.dateRead %}{{ book.dateRead|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if book.allowDownload %}Yes{% else %}No{% endif %}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>#}
                                    <div class="col-md-3 col-lg-3 col-sm-6">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <div class="pro-type">
                                                    <span>new</span>
                                                </div>
                                                {% if book.cover %}
                                                    <img class="secondary-image" alt="Product Title" src="{{ asset('uploads/cover/' ~book.cover) }}">
                                                {% endif %}
                                            </div>
                                            <div class="product-dsc">
                                                <h3><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.name }}</a></h3>
                                                <div class="star-price">
                                                    <span class="price-left">{{ book.author }}</span>
                                                    <span class="star-right">
                                                    {% if book.allowDownload and book.bookFile %}



                                                        </i>
                                                        <a href="{{ asset('uploads/book/' ~book.bookFile) }}" target="_blank" download=""><i class="fa fa-cloud-download"></i>Скачать</a>
                                                    {% endif %}

                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-half-o"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                                <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Compare"><i class="fa fa-retweet"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                             </div>
                        </div>
                        <div class="shop-all-tab-cr shop-bottom">
                            <div class="two-part">
                                <div class="shop5 page">
                                    <ul>
                                        <li>
                                            <a class="active" href="#">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#"><i class="fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Cover</th>
                <th>Bookfile</th>
                <th>Dateread</th>
                <th>Allowdownload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                {#<td>{{ book.cover }}</td>#}
              {#  {% if book.cover %}
                    <td><img src="{{ asset('uploads/cover/' ~book.cover) }}"  alt="" /></td>
                {% endif %}#}
                <td>{{ book.bookFile }}</td>
                <td>{% if book.dateRead %}{{ book.dateRead|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if book.allowDownload %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
