{% use "form_div_layout.html.twig" %}


{% block file_widget %}
<div class="col-md-10">
    {% if data and name == "cover" %}
        <div class="buttons" >
        <div class="">

            <input id="delete_img" formaction="{{ path('book_edit', { 'id': form.parent.vars.value.id }) }}?img=y" class="btn btn-primary" type="submit" value="Удалить картинку" style="width: 40%; margin-bottom: 20px">
        </div>
        </div>
        <div class="pull-right">
           {# <div class="file_upload">
                <button type="button" class="btn btn-primary">Выбрать</button>
                <div>Изменить обложку</div>#}
                <input type="{{ type }}" {{ block('widget_attributes') }} class="btn btn-primary" style="width: 100%; margin-bottom: 20px"/>
 {#           </div>

        </div>#}

    {% else %}
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} class="btn btn-primary" style="width: 100%; margin-bottom: 20px"/>
    {% endif %}
</div>
{% endblock file_widget %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge( {class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    <div class="col-md-10">
        {{- parent() -}}
    </div>
{%- endblock form_widget_simple %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-md-2 control-label')|trim}) -%}
    {#{{ dump(parent()) }}#}
    {{- parent() -}}
{%- endblock form_label %}

{% block form_row -%}
    <div class="form-group required{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_errors(form) -}}
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{%- block checkbox_widget -%}
    <div class="col-md-10">
        <div class="forgot-password1">
            <label class="inline2" for="remember_me">
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
        </div>
    </div>
{%- endblock checkbox_widget -%}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="col-md-12">
        {% if form.parent %}
            <span class="help-block">
        {% else %}
            <div class="alert alert-danger">
        {% endif %}
        <ul>
            {%- for error in errors -%}
                <li>
                    <span class="fa fa-exclamation-triangle"></span> {{ error.message }}
                </li>
            {%- endfor -%}
        </ul>
        {% if form.parent %}
            </span>
        {% else %}
            </div>
        {% endif %}
        </div>
    {%- endif %}
{%- endblock form_errors %}
