{% extends 'layout.html.twig' %}
{% block title %}{{ 'edit_books'|trans({}, 'library_trans') }}{% endblock %}

{% block contentBook %}

    <h1>{{ 'edit_books'|trans({}, 'library_trans') }}</h1>
    {% form_theme edit_form '@FOSUser/form_layout.html.twig' %}

    {{ form_start(edit_form, { 'attr': { 'class': 'cendo' } }) }}
        {{ form_widget(edit_form) }}
            <div class="col-md-12">
                <div class="buttons">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary" value="{{ 'edit'|trans({}, 'library_trans') }}" />
                    </div>
                </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form, { 'attr': { 'class': 'cendo' } }) }}
                <input class="btn btn-primary" type="submit" value="{{ 'delete'|trans({}, 'library_trans') }}">
             </div>
    {{ form_end(delete_form) }}

{% endblock %}
