{% extends 'layout.html.twig' %}
{% block title %}{{ 'create_book'|trans }}{% endblock %}

{% block contentBook %}

    <h1>{{ 'create_book'|trans }}</h1>

    {% if error %}
        <p style="color: red">{{ 'error_create'|trans }}</p>
    {% endif %}

    {% form_theme form '@FOSUser/form_layout.html.twig' %}

    {{ form_start(form, { 'attr': { 'class': 'cendo' } }) }}
        {{ form_widget(form) }}
        <div class="col-md-12">
            <div class="buttons">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="{{ 'create'|trans }}" />
                </div>
            </div>
            <a class="btn btn-primary pull-left" href="{{ path('book_index') }}">{{ 'back'|trans }}</a>
        </div>

    {{ form_end(form) }}

{% endblock %}
