{% extends 'base.html.twig' %}
{% block title %}{{ 'view_books'|trans({}, 'library_trans') }}{% endblock %}

{% block body %}

    <section class="single-product-area sit">
        <div class="container">
            <div class="row">
                <h1>{{ 'view_books'|trans({}, 'library_trans') }}</h1>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 none-si-pro">
                            <div class="pro-img-tab-content tab-content">
                                <div class="tab-pane active" id="image-1">
                                    <div class="simpleLens-big-image-container">

                                        {% if book.cover %}
                                             <a class="simpleLens-lens-image" data-lightbox="roadtrip" data-lens-image="{{ asset(cover_directory_relative ~book.cover) }}" href="">
                                                 <img class="simpleLens-big-image" alt="Product Title" src="{{ asset(cover_directory_relative ~book.cover) }}" {{ show_img(453, 600) }}>
                                             </a>
                                        {% else %}
                                            <a class="simpleLens-lens-image" data-lightbox="roadtrip" data-lens-image="{{ asset('img/nocover.jpg') }}" href="">
                                                <img class="simpleLens-big-image" alt="Product Title" src="{{ asset('img/nocover.jpg') }}">
                                            </a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="cras">
                                <div class="product-name">
                                    <h2>{{ 'name_book'|trans({}, 'library_trans') }} {{ book.name }}</h2>
                                </div>
                                <div class="pre-box">
                                    <span class="special-price">{{ 'author'|trans({}, 'library_trans') }} {{ book.author }}</span>
                                </div>
                                <div class="add-to-box1">
                                    <div class="add-to-box add-to-box2">
                                        <div class="add-to-cart">
                                            <div class="product-icon">
                                                {% if book.allowDownload and book.bookFile %}
                                                    <p class="rating-links">
                                                        <a href="{{ asset(book_directory_relative ~book.bookFile) }}" target="_blank" download="">
                                                            <i class="fa fa-cloud-download"></i>
                                                            {{ 'download'|trans({}, 'library_trans') }}
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                                    <a href="{{ path('book_edit', { 'id': book.id }) }}">
                                                        {{ 'edit'|trans({}, 'library_trans') }}
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>

                                                    <a href="{{ path('book_delete', { 'id': book.id }) }}">
                                                        {{ 'delete'|trans({}, 'library_trans') }}
                                                        <i class="fa fa-times"></i>
                                                    </a>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
